<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/userDataFactory.js"></script>
<script src="js/controllers/userDataController.js"></script>
<script src="js/factories/eventFactory.js"></script>
<script src="js/controllers/eventController.js"></script>

<html>
<head>
	<meta charset="utf-8">
	<title>Bloom</title>
	<link rel="stylesheet" href="./styles/events.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body ng-app="app">
	<header ng-controller="userDataController">
		<div class="container">
			<div id="branding">
				<img src="./img/logo.png"  height="35" width="35"><h1> Bloom</h1>
			</div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li class="current"><a href="/events">Events</a></li>
					<li><a href="/resources">Resources</a></li>
					<li><a href="/about">About Us</a></li>
					<li ng-if="bio == 'No current user' || bio == undefined">
						<a id="login" href="/login"><button class="buttonhdr">Login</button></a>
					</li>		
					<div id="username" ng-if="bio != 'No current user'">
						<h2>
							{{bio.username}}
							<a href="/profile"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">person</i></a>
							<a href="/announcements"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">notifications</i></a>
						</h2>
					</div>	
					
				</ul>
			</nav>
		</div>
	</header>
	<h1>Events</h1>>
	<div class = "row">
	<div class = "upcomingEvents">
	<div id="events"><h1> Upcoming Events </h1></div>

	<div class="eventCards" ng-controller="eventController">
		<div class="event" ng-repeat="post in events | filter:{approved:true}" onClick ="if(this.style.height=='250'){this.style.height = '100';}else{this.style.height = '250';}">
		<div class = date>	
			<h3>
				<div id="startDate">
					{{post.eventstart | date : format : MM/dd/yyyy}}
				</div>
				<div id="endDate">
					{{post.eventend | date : format : MM/dd/yyyy}}
				</div>
			</h3>
		</div>
		<div class = "information">
			<h2>{{post.eventtitle}}</h2>
			<h3 id="postUsername" ng-repeat="user in users | filter:{'id': post.userid}:true">{{user.username}}</h3>
			<h3 id="content">{{post.eventcontent}}</h3>
		</div>
		
		</div>
	</div>

	</div>
		
	<div class="box">
		<h1 style="text-align: center">Suggest an Event</h1>

		<div ng-controller="eventController">
			<form novalidate class="simple-form">
				<input type="text" id="suggestEventTitle" ng-model="newEvent.eventtitle" placeholder="Title"><br>
				<textarea rows="10" cols="60" id="suggestEventContent" ng-model="newEvent.eventcontent" placeholder="Body"></textarea>
				<div class="form-group" id="dates" style="display: inline-block"> 
					<h2 style="display: inline-block;">Starting Date</h2> <input type="date"  id="suggestEventStart" ng-model="newEvent.eventstart" placeholder="Start Date (MM/DD/YYYY)">
					<button type="Send" id="sendButton" ng-click="createEvent(newEvent)">Send</button> <br>
					<h2 style="display: inline-block;">Ending Date </h2> <input type="date" id="suggestEventEnd" ng-model="newEvent.eventend" placeholder="End Date">
				</div>
				
			</form>
		</div>
	</div>
</div>
</column>
	<footer>
		<p>Entrepreneurship Empowerment, Michael H. Morris</p>
	</footer>
</body>
</html>