<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/userDataFactory.js"></script>
<script src="js/controllers/userDataController.js"></script>
<script src="js/factories/announcementFactory.js"></script>
<script src="js/controllers/announcementController.js"></script>

<html>
<head>
	<meta charset="utf-8">
	<title>Bloom</title>
	<link rel="stylesheet" href="./styles/home.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body ng-app="app">
	<header ng-controller="userDataController">
		<div class="container">
			<div id="branding">
				<img src="./img/logo.png"  height="35" width="35"><h1> Bloom</h1>
			</div>
			<nav>
				<ul>
					<li class="current"><a href="/">Home</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/resources">Resources</a></li>
					<li><a href="/about">About Us</a></li>
					<li ng-if="bio == 'No current user' || bio == undefined">
						<a id="login" href="/login"><button class="buttonhdr">Login</button></a>
					</li>		
					<div id="username" ng-if="bio != 'No current user'">
						<h2>
							{{bio.username}}
							<a href="/profile"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">person</i></a>
							<a href="/announcements"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">notifications</i></a>
						</h2>
					</div>	
					
				</ul>
			</nav>
		</div>
	</header>
	
	<section id="showcase">
	</section>
	<!--div ng-controller="announcementController">
		<section id="showcase">
				<div class="slideshow-container">
					<a class="prev" style="float: left; margin-left: 20px; font-size: 30px;" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next"  style="float: right; margin-right: 20px; font-size: 30px;" onclick="plusSlides(1)">&#10095;</a>

					<div ng-repeat="post in approvedAnnouncements">
						<div class="announcementSlides">
							<h1>{{post.title}}</h1>
							<h2>{{post.content}}</h2>
						</div>
					</div>
				</div>
		</section>
	</div-->

	<section id = "newsletter">
		<div class="container">
			<h1>Subscribe to Our Newsletter!</h1>
			<form>
			<input type="email" placeholder="Enter Email…">
			<button type="submit" class="button_1">Subscribe</button>
			</form>
		</div>
	</section>
	
	<section id = boxes>
	<div class="boxes">
		<div class="box-a">
			<img src="./img/S.svg">
			<h3>Supportive Architecture</h3>
			<p> Key infrastructure elements include education/training mechanisms, availability of finance, incubators/accelerators, a supportive business community, vehicles for social networking/connecting, support organizations, service providers, entrepreneurial role models, and entrepreneurial mentors, among others.</p>
		</div>
		<div class="box-b">
			<img src="./img/P.svg">
			<h3>Entrepreneur Preparation</h3>
			<p>It is critical to prepare individuals in low-income conditions to become entrepreneurs, providing them with the knowledge, tactics and tools to think and act more entrepreneurially</p>
		</div>
		<div class="box-c">
			<img src="./img/O.svg">
			<h3>Opportunity Horizon</h3>
			<p>Here the priority is to continually extend this horizon, enabling the low income individual to recognize more attractive and higher potential possibilities both as the basis for launching the venture, but also to enable ongoing growth and expansion of the business.</p>
    </div>
    <div class="box-d">
			<img src="./img/D.svg">
			<h3>Sustainable Differentiation</h3>
			<p>The key is strategic thinking, as opposed to reactive or tactical management, as sources of differentiation exist for virtually any business.</p>
    </div>
    <div class="box-e">
			<img src="./img/E.svg">
			<h3>Economic Model</h3>
			<p>Rather, the entrepreneur must find innovative ways to capture revenue, price on a value basis, achieve cost economies while keeping overhead low, and reach higher potential market segments.</p>
    </div>
    <div class="box-f">
			<img src="./img/R.svg">
			<h3>Resources</h3>
			<p>he key concept here is resource leveraging, which means finding creative ways to borrow, share, rent, outsource, barter, partner and otherwise tap into resources not owned by the entrepreneur, including community resources.</p>
		</div>
		
	</div>
	</section>
	
	<footer>
		<p>Entrepreneurship Empowerment, Michael H. Morris</p>
	</footer>
	<script src="slideshow.js"></script>
</body>
</html>