<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/userDataFactory.js"></script>
<script src="js/controllers/userDataController.js"></script>

<html>
<head>
	<meta charset="utf-8">
	<title>Bloom</title>
	<link rel="stylesheet" href="./styles/resources.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body ng-app="app" ng-controller="userDataController">
		<header ng-controller="userDataController">
				<div class="container">
					<div id="branding">
						<img src="./img/logo.png"  height="35" width="35"><h1> Bloom</h1>
					</div>
					<nav>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/events">Events</a></li>
							<li class="current"><a href="/resources">Resources</a></li>
							<li><a href="/about">About Us</a></li>
							<li ng-if="bio == 'No current user' || bio == undefined">
								<a id="login" href="/login"><button class="buttonhdr">Login</button></a>
							</li>		
							<div id="username" ng-if="bio != 'No current user'">
								<h2>
									{{bio.username}}
									<a href="/profile"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">person</i></a>
									<a href="/announcements"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">notifications</i></a>
									<a href="/admin"><i class="material-icons" style="font-size:30px; vertical-align:-6px;" ng-if="bio.admin == true">verified_user</i></a>
								</h2>
							</div>	
							
						</ul>
					</nav>
				</div>
			</header>
	<script>
		// List all categories that he wants! And then possibly implement Angular?
		let categories = [
			{
				name: 'All',
				icon: './img/categories/trending.svg'
			},
			{
				name: 'Finance',
				icon: './img/categories/finance.svg'
			},
			{
				name: 'Investment',
				icon: './img/categories/statistics.svg'
			},
			{
				name: 'Writing',
				icon: './img/categories/writing.svg'
			},
			{
				name: 'Research',
				icon: './img/categories/reading.svg'
			},
			{
				name: 'Networking',
				icon: './img/categories/networking.svg'
			},
		]
		let videos = [
			{
				name: 'General Video 1',
				thumbnail: 'https://i.ytimg.com/vi/n-beA3gmRsM/mqdefault.jpg',
				category: 'All', 
				url: 'https://www.youtube.com/embed/n-beA3gmRsM'
			},
			{
				name: 'Finance Video 1',
				thumbnail: 'https://i.ytimg.com/vi/WEDIj9JBTC8/mqdefault.jpg',
				category: 'Finance',
				url: 'https://www.youtube.com/embed/WEDIj9JBTC8',
			},
			{
				name: 'Investment Video 1',
				thumbnail: 'https://i.ytimg.com/vi/covxjhXsCi8/mqdefault.jpg',
				category: 'Investment',
				url: 'https://www.youtube.com/embed/covxjhXsCi8'
			},
			{
				name: 'Writing Video 1',
				thumbnail: 'https://i.ytimg.com/vi/8E-oqahDnb8/mqdefault.jpg',
				category: 'Writing',
				url: 'https://www.youtube.com/embed/8E-oqahDnb8'
			},
			{
				name: 'Research Video 1',
				thumbnail: 'https://i.ytimg.com/vi/CCKHH9jjS0s/mqdefault.jpg',
				category: 'Research',
				url: 'https://www.youtube.com/embed/CCKHH9jjS0s'

			},
			{
				name: 'Networking Video 1',
				thumbnail: 'https://i.ytimg.com/vi/FAPySGLL3gg/mqdefault.jpg',
				category: 'Networking',
				url: 'https://www.youtube.com/embed/FAPySGLL3gg'

			},
			{
				name: 'General Video 2',
				thumbnail: 'https://i.ytimg.com/vi/jRcfE2xxSAw/mqdefault.jpg',
				category: 'All',
				url: 'https://www.youtube.com/embed/jRcfE2xxSAw'
			},
			{
				name: 'Finance Video 2',
				thumbnail: 'https://i.ytimg.com/vi/9JPCSD4rCok/mqdefault.jpg',
				category: 'Finance',
				url: 'https://www.youtube.com/embed/9JPCSD4rCok'
			},
			{
				name: 'Investment Video 2',
				thumbnail: 'https://i.ytimg.com/vi/wJB90G-tsgo/mqdefault.jpg',
				category: 'Investment',
				url: 'https://www.youtube.com/embed/wJB90G-tsgo'
			},
			{
				name: 'Writing Video 2',
				thumbnail: 'https://i.ytimg.com/vi/sjdxUiAJ0UQ/mqdefault.jpg',
				category: 'Writing',
				url: 'https://www.youtube.com/embed/sjdxUiAJ0UQ'
			},
			{
				name: 'Research Video 2',
				thumbnail: 'https://i.ytimg.com/vi/KvAV4ADDfHM/mqdefault.jpg',
				category: 'Research',
				url: 'https://www.youtube.com/embed/KvAV4ADDfHM'
			},
			{
				name: 'Networking Video 2',
				thumbnail: 'https://i.ytimg.com/vi/xFrqZjIDE44/mqdefault.jpg',
				category: 'Networking',
				url: 'https://www.youtube.com/embed/xFrqZjIDE44'
			}
		]
		// Wait for page to load
		$(document).ready(() => {
				// Foreach loop
			for (let category of categories){
				// Using template literals: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
				$('.categories').append(`<div class="category"><img src="${category.icon}"><span class="name">${category.name}</span></div>`)
			}
			$('.category:eq(0)').addClass('active');
			let displayCategory=$('.active').find('.name').text();

			for (let video of videos){
				$('.videos').append(`<div category="${video.category}" vidSrc="${video.url}" class="video"><img src="${video.thumbnail}"><span class="vidName">${video.name}</span></div>`);
			}
			$('.video').toggle(false);
			if(displayCategory=="All"){
				$('.video').toggle(true);
			}else {
				$('.video').toggle(false);
				$('.video')
					.filter(() => {
						return ($('.category').text()==displayCategory);
					})
						.toggle(true);
			}

			$( "div .categories" ).on( "click", ".category", function() {
				displayCategory= $( this ).text();
				console.log(displayCategory);
				if(displayCategory=="All"){
					$('.video').toggle(true);
				}else {
					$('.video').toggle(false);
					$('.video')
						.filter(function(index, element) {
							return $(element).attr('category') == displayCategory;
						})
						.toggle(true);

				}
			});

			$('.video').click(() => {
				var vidSrc = $(this);
				console.log(vidSrc);
				$('#myModal').toggle(true);  

			});
			var modal = document.getElementById('myModal');
			// When the user clicks on <span> (x), close the modal
			document.getElementsByClassName("close")[0].onclick = function() {
				modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
			
		});
	</script>
	<div class="container">
		<h3>Categories</h3>
		<div class="categories"></div>
		<h3>Videos</h3>
		<div class="videos">
		</div>
		<!-- <nav aria-label="...">
		<ul style="display:flex; justify-content: center; margin-top:10px" class="pagination">
			<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item active" aria-current="page">
			<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
			</li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
			<a class="page-link" href="#">Next</a>
			</li>
		</ul>
		</nav> -->
	</div>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h5>General Video 1</h5>
			<iframe width="100%" src="https://www.youtube.com/embed/n-beA3gmRsM" height="90%" id="modalVideo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	  
	<footer>
		<p>Entrepreneurship Empowerment, Michael H. Morris</p>
	</footer>
</body>
</html>