<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/userDataFactory.js"></script>
<script src="js/controllers/userDataController.js"></script>

<html>
<head>
	<meta charset="utf-8">
	<title>Bloom</title>
	<link rel="stylesheet" href="./styles/resources.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body ng-app="app" ng-controller="userDataController">
	<header>
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="/">
					<img src="./img/logo.png"  height="35" width="35" class="d-inline-block align-top">
					Bloom
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/events">Events</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/resources">Resources</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About Us</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item" ng-if="bio == 'No current user'">
							<a id="login" href="/login"><button class="btn btn-primary">Login</button></a>
						</li>
						<li class="nav-item" id="username" ng-if="bio != 'No current user'">
							<a href="/profile">{{bio.username}}<i class="material-icons d-inline-block align-top" style="font-size:30px; vertical-align:-6px;">person</i></a>
						</li>	
					</ul>
				</div>
			</nav>
		</div>
		
<!-- 
		<div class="container">
			<div id="branding">
				
			</div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/events">Events</a></li>
					<li class="current"><a href="/resources">Resources</a></li>
					<li><a href="/about">About Us</a></li>
					<li ng-if="bio == 'No current user'">
						<a id="login" href="/login"><button class="buttonhdr">Login</button></a>
					</li>		
					<div id="username" ng-if="bio != 'No current user'">
						<h2>
							{{bio.username}}
							<a href="/profile"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">person</i></a>
						</h2>
					</div>	
					
				</ul>
			</nav>
		</div> -->
	</header>
	<script>
		// List all categories that he wants! And then possibly implement Angular?
		let categories = [
			{
				name: 'All',
				icon: './img/categories/trending.svg'
			},
			{
				name: 'Finance',
				icon: './img/categories/finance.svg'
			},
			{
				name: 'Statistics',
				icon: './img/categories/statistics.svg'
			},
			{
				name: 'Writing',
				icon: './img/categories/writing.svg'
			},
			{
				name: 'Research',
				icon: './img/categories/reading.svg'
			},
			{
				name: 'Networking',
				icon: './img/categories/networking.svg'
			},
		]
		let videos = [
			{
				name: 'General Video 1',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'All'
			},
			{
				name: 'Finance Video 1',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Finance'
			},
			{
				name: 'Stats Video 1',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Statistics'
			},
			{
				name: 'Writing Video 1',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Writing'
			},
			{
				name: 'Research Video 1',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Research'
			},
			{
				name: 'Networking Video 1',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Networking'
			},
			{
				name: 'General Video 2',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'All'
			},
			{
				name: 'Finance Video 2',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Finance'
			},
			{
				name: 'Stats Video 2',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Statistics'
			},
			{
				name: 'Writing Video 2',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Writing'
			},
			{
				name: 'Research Video 2',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Research'
			},
			{
				name: 'Networking Video 2',
				thumbnail: 'https://via.placeholder.com/350x200',
				category: 'Networking'
			}
		]
		// Wait for page to load
		$(document).ready(() => {
				// Foreach loop
			for (let category of categories){
				// Using template literals: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
				$('.categories').append(`<div class="category"><img src="${category.icon}"><span class="name">${category.name}</span></div>`)
			}
			$('.category:eq(0)').addClass('active');
			let displayCategory=$('.active').find('.name').text();

			for (let video of videos){
				$('.videos').append(`<div category="${video.category}" class=video><img src="${video.thumbnail}"><span class="vidName">${video.name}</span></div>`);
			}
			$('.video').toggle(false);
			if(displayCategory=="All"){
				$('.video').toggle(true);
			}else {
				$('.video').toggle(false);
				$('.video')
					.filter(() => {
						return ($('.category').text()==displayCategory);
					})
						.toggle(true);
			}

			$( "div .categories" ).on( "click", ".category", function() {
				displayCategory= $( this ).text();
				console.log(displayCategory);
				if(displayCategory=="All"){
					$('.video').toggle(true);
				}else {
					$('.video').toggle(false);
					$('.video')
						.filter(function(index, element) {
							return $(element).attr('category') == displayCategory;
						})
						.toggle(true);

				}
			});

			$('.video').click(() => {
				$('#videoModal').modal('show');
			});
			
		});
	</script>
	<div class="container">
		<h3>Categories</h3>
		<div class="categories"></div>
		<h3>Videos</h3>
		<div class="videos">
		</div>
		<!-- <nav aria-label="...">
		<ul style="display:flex; justify-content: center; margin-top:10px" class="pagination">
			<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item active" aria-current="page">
			<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
			</li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
			<a class="page-link" href="#">Next</a>
			</li>
		</ul>
		</nav> -->
	</div>
	<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Video</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/ohCjHf0XA8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p>Entrepreneurship Empowerment, Michael H. Morris</p>
	</footer>
</body>
</html>