body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: white
}

.form input[type = "text"]{
border: 0;
display: block;
margin: 25px auto;
background: none;
text-align: left;
border: 2px solid #3498db;
padding: 15px 10px;
width: 500px;
color: black;
outline: none;
border-radius: 24px;
transition: 0.2s;
}

.form input[type = "text"]:focus{
width: 550px;
border-color:#2ecc71;
}


.form input[type ="submit"] {
border: 0;
display: block;
margin: 18px auto;
background: none;
text-align: center;
border: 2px solid #3498db;
padding: 15px 45px;
outline: none;
color: black;
border-radius: 24px;
transition: 0.2s;
cursor: pointer;
}


.form input[type = "submit"]:hover {
background: #3498db;
color: white;
}

    
.updateUserBio input[type = "text"]{
    border: 0;
    display: block;
    margin: 25px auto;
    background: none;
    text-align: left;
    border: 2px solid #3498db;
    padding: 15px 10px;
    width: 200px;
    color: black;
    outline: none;
    border-radius: 24px;
    transition: 0.2s;
    }

.updateUserBio input[type = "text"]:focus{
    width: 250px;
    border-color:#2ecc71;
    }
    
.updateUserBio  input[type ="submit"] {
    border: 0;
    display: block;
    margin: 18px auto;
    background: none;
    text-align: center;
    border: 2px solid #3498db;
    padding: 15px 45px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.2s;
    cursor: pointer;
    }
    
.updateUserBio  input[type = "submit"]:hover {
    background: #3498db;
    color: white;
    }
    
    .modal { 
        overflow: initial; 
    }

