body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: white
}
h1{
    font-size: 15px;
}
body h1{
    margin: 0;
    text-align: center; 
    font-size: 25px;
}

/* Global */
.container{
    width: 95%;
    margin:auto;
    overflow:hidden;
    color: #00bfa8;
}
ul{
    margin: 0;
    padding: 0;

}
#all{
    width: 100%;
}
.buttonhdr {
    background: white;
    border: 0;
    color: #00bfa8;
    height: 38px;
    width: 120px;
    float: right;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: -6px;
    margin-right: 30px;
    font-size: 18px;
}

button:hover {
    background-color: #eeeeee;
}

.button_1 {
    height: 38px;
    background: white;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #00bfa8;
}


header{
    background: #00bfa8;
    color: white;
    padding-top: 15px;
    min-height: 70px;
    border-bottom: #00bfa8 4px solid;
    margin-bottom: 40px;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header li{

    display:inline;
    padding: 5px 20px 0 20px;
}

header #branding{
    margin-top:5px;
    margin-left:40px;
    float: left;

}
header #branding h1{
    margin:0;
    display:inline;
    color:white;
}

header #branding img{
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: -20px;
}

header nav{
    margin-top: 12px;
    text-align: center;
}

header .highlight{
    font-weight: bold;
}

header .current a{
    color: #eeeeee;
}

header a:hover{
    color: #eeeeee;
    text-decoration: none;
}

#username {
    margin-right: 50px;
    margin-top: -20px;
    margin-right: 10px;
    float: right;
    color: white;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #00bfa8;
    text-align: center;
}

.row {  
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.upcomingEvents{
    margin-left: 3%;
    flex: 44%;
}

.upcomingEvents #events{
    background: white;
    border: #48af99 2px solid;
    width: 100%
}
.eventCards{
    width:100%;
}
.event {
    width: 100%;
    height: 100px;
    font-size:15px;
    font-family:Tahoma; 
    background: white;
    border: #48af99 2px solid;    
    overflow:hidden;
    display: grid;
    grid-template-columns:30% 30% 30%;
    grid-template-rows: auto auto; 
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    justify-content: left;
    grid-template-areas: 
    "d i i";
}

.date{
    grid-area: d;
    text-align: center;
}

.information {
    grid-area: i;
    text-align: left;
}
.information h2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:5px;
}
.information h3{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom:20px;
}
.event:hover{
    background-color: #eafffa;
}

#postUsername{
    margin-left: 20px;
    margin-top: 40px;
}

.box{
    flex: 44%;
    padding-top: 20px;
    margin-bottom: 60px;
    height: 680px;
    background-color: #befff1;
    width: 90%;
    margin-left: 2%;
    margin-right: 3%;
}
#eventTitleBox{
    margin-bottom:10px;
}

form{
    width:90%;
    margin-left: 5%;
}


#suggestEventTitle{
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 20px;
}

#suggestEventContent{
    width: 100%;
    padding: 12px 20px;
    height: 400px;
    font-size: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 20px;
    overflow-wrap: break-word;
    resize: none;
}
#dates{
    margin-left: 0;
    width: 100%
}

#suggestEventStart{
    width: 30%;
    height: 50px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
    display: inline-block;
}

#suggestEventEnd{
    width: 30%;
    height: 50px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 22px;
    font-size: 15px;
}

#sendButton{
    background-color: #7affe2;
    font-size: 16pt;
    padding: 13px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 200px;
    margin-left: 5%;
    display: inline-block;
    align-content: right;
}
.form-group h2{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom:8px;
}

#sendButton:hover {
    background-color: #64e4c8;
}
#sendButton:active {
    background-color: #48af99;
}