body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: #eaf1ff
}

/* Global */
.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
    color: #ffffff;
}
ul{
    margin: 0;
    padding: 0;

}
.buttonhdr {
    background: #ffbe5e;
    border: 0;
    color: white;
    height: 38px;
    width: 120px;
    float: right;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    margin-top: -6px;
    font-size: 18px;
}

button:hover {
    background-color: #fab042;
    color: rgb(236, 236, 236);
}

.button_1 {
    height: 38px;
    background: #ffbe5e;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}


header{
    background: #4286f4;
    color: #ffffff;
    padding-top: 20px;
    min-height: 80px;
    border-bottom: #ffbe5e 4px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header li{
    float:left;
    display:inline;
    padding: 5px 20px 0 20px;
}

header #branding{
    margin-top:5px;
    position: absolute;
    left: 45px;
}
header #branding h1{
    margin:0;
    display:inline;
}

header #branding img{
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: -20px;
}

header nav{
    margin-top: 10px;
    position: absolute;
    left: 1250px;
}

header .highlight{
    font-weight: bold;
}

header .current a{
    color: #ffbe5e;
}

header a:hover{
    color: #ffbe5e;
    text-decoration: none;
}

/*Showcase */

#showcase{
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color:white;
}

#showcase h1{
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;

}

#showcase p{
    margin-top: 20px;
    font-size: 20px;
}

/*newsletter*/
#newsletter{
    padding:15px;
    color: white;
    background: #4286f4;
}

#newsletter h1{
    float:left;
    font-size: 30px;
}

#newsletter form{
    float:right;
    margin-top: 20px;
}

#newsletter input[type="email"]{
    margin-top: 5px;
    padding: 4px;
    height: 35px;
    width: 250px;
}

#boxes{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
/*boxes*/
.boxes{
    display: grid;
    grid-template-columns:25% 25% 25%;
    grid-template-rows: auto auto; 
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    justify-content: center;
    grid-template-areas: 
    "a b c"
    "d e f";
}

#boxes .box-a {
    grid-area: a;
}
#boxes .box-b {
    grid-area: b;
}
#boxes .box-c {
    grid-area: c;
}
#boxes .box-d {
    grid-area: d;
}
#boxes .box-e {
    grid-area: e;
}
#boxes .box-f {
    grid-area: f;
}


#boxes img{
    width:90px;
    height:90px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #ffbe5e;
    text-align: center;
}