body {
    background: black;
    color: white;
    height: 600px;
    text-align: center;
    padding-top: 125px;
}

h3{ 
    font-weight: 10;
    
}

a {
    color: white;
    font-size: 20px;
    transition: all 0.5s ease-out;

}

a:hover {
    margin-left: -15px; 
}