body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: #eaf1ff
}

/* Global */
.container{
    margin:auto;
    overflow:hidden;
    color: #ffffff;
}

ul{
    margin: 0;
    padding: 0;

}

.buttonhdr {
    background: #ffbe5e;
    border: 0;
    color: white;
    height: 38px;
    width: 120px;
    float: right;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: -6px;
    margin-right: 30px;
    font-size: 18px;
}

button:hover {
    background-color: #fab042;
    color: rgb(236, 236, 236);
}

.button_1 {
    height: 38px;
    background: #ffbe5e;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}


header{
    background: #4286f4;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #ffbe5e 4px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header li{

    display:inline;
    padding: 5px 20px 0 20px;
}

header #branding{
    margin-top:5px;
    margin-left:40px;
    float: left;

}
header #branding h1{
    margin:0;
    display:inline;
}

header #branding img{
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: -20px;
}

header nav{
    margin-top: 12px;
    text-align: center;
}

header .highlight{
    font-weight: bold;
}

header .current a{
    color: #ffbe5e;
}

header a:hover{
    color: #ffbe5e;
    text-decoration: none;
}

#username {
    margin-right: 50px;
    margin-top: -20px;
    float: right;
}

#boxes{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
/*boxes*/
.boxes{
    display: grid;
    margin-left: 150px;
    grid-template-columns:25% 25% 25%;
    grid-template-rows: auto auto; 
    grid-column-gap: 50px;
    grid-row-gap: 80px;
    justify-content: center;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";
}

#boxes .box-a{
    grid-area: a;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-a:hover {
    grid-area: a;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes .box-b {
    grid-area: b;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-b:hover {
    grid-area: b;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes .box-c {
    grid-area: c;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-c:hover {
    grid-area: c;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes .box-d {
    grid-area: d;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-d:hover {
    grid-area: d;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes .box-e {
    grid-area: e;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-e:hover {
    grid-area: e;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes .box-f {
    grid-area: f;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-f:hover {
    grid-area: f;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes .box-g {
    grid-area: g;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-g:hover {
    grid-area: g;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes .box-h {
    grid-area: h;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-h:hover {
    grid-area: h;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes .box-i {
    grid-area: i;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    background: #6aa3ff;
    border-radius: 10px;
}

#boxes .box-i:hover {
    grid-area: i;

    width: 270px;
    padding-top: 20px;
    height: 270px; 
    border-radius: 10px;
    background: #5694f8;
}

#boxes img{
    width:200px;
    height:200px;
}

footer{
    padding: 20px;
    margin-top: 80px;
    color: white;
    background-color: #ffbe5e;
    text-align: center;
}