<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>

<html>
<head>
	<meta charset="utf-8">
	<title>Bloom</title>
	<link rel="stylesheet" href="/styles/admin.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body ng-app="app">
    <header ng-controller="userDataController">
            <div class="container">
                <div id="branding">
                    <img src="./img/logo.png"  height="35" width="35"><h1> Bloom</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="current"><a href="/events">Events</a></li>
                        <li><a href="/resources">Resources</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li ng-if="bio == 'No current user' || bio == undefined">
                            <a id="login" href="/login"><button class="buttonhdr">Login</button></a>
                        </li>		
                        <div id="username" ng-if="bio != 'No current user'">
                            <h2>
                                {{bio.username}}
                                <a href="/profile"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">person</i></a>
                                <a href="/announcements"><i class="material-icons" style="font-size:30px; vertical-align:-6px;">notifications</i></a>
                                <a class="current" href="/admin"><i class="material-icons" style="font-size:30px; vertical-align:-6px;" ng-if="bio.admin == true">verified_user</i></a>
                            </h2>
                        </div>	
                        
                    </ul>
                </nav>
            </div>
        </header>

    <div class="box" ng-controller="eventController">
		<h1 style="text-align: center; font-size: 50px;">Unapproved Events</h1>
        <h3 class="announcement" ng-repeat="unevent in events | orderBy : 'date_created' | filter:{approved:false}" onClick ="if(this.style.height=='200px'){this.style.height = '50';}else{this.style.height = '200';}">
            <div>
                <button type="submit" style="float: right; margin-left: 30px; margin-top: -5px;" class="button" ng-click="deleteEvent(unevent.eventid)">Delete</button>
                <button type="submit" style="float: right; margin-top: -5px;" class="button" ng-click="approveEvent(unevent.eventid)">Approve</button>
                <div style="font-size: 30px;">{{unevent.eventtitle}}</div>
                <div style="float: right; margin-top: 20px; margin-right:-300px; font-size: 17pt;">Starting Date: {{unevent.eventstart | date : format : MM/dd/yyyy}}</div>
                <div style="float: right; margin-top: 45px; margin-right:-290px; font-size: 17pt;">Ending Date:   {{unevent.eventend | date : format : MM/dd/yyyy}}</div>
                <div style="float: right; margin-top: 70px; margin-right:-280px; font-size: 17pt;">Created On: {{unevent.eventstart | date : format : MM/dd/yyyy}}</div>
                <div style="margin-top: 20px; margin-right: 400px;">{{unevent.eventcontent}}</div>
            </div>
		</h3>


    </div>
    </br>
    </br>
	<div class="box" ng-controller="eventController">
		<h1 style="text-align: center; font-size: 50px;">Approved Events</h1>
		<h3 class="announcement" ng-repeat="apevent in events | orderBy : 'date_created' | filter:{approved:true}" onClick ="if(this.style.height=='200px'){this.style.height = '50';}else{this.style.height = '200';}">
            <div>
                <button type="submit" style="float: right; margin-left: 30px; margin-top: -5px;" class="button" ng-click="deleteEvent(apevent.eventid)">Delete</button>
                <div style="font-size: 30px;">{{apevent.eventtitle}}</div>
                <div style="float: right; margin-top: 20px; margin-right:-150px; font-size: 17pt;">Starting Date: {{apevent.eventstart | date : format : MM/dd/yyyy}}</div>
                <div style="float: right; margin-top: 45px; margin-right:-290px; font-size: 17pt;">Ending Date:   {{apevent.eventend | date : format : MM/dd/yyyy}}</div>
                <div style="float: right; margin-top: 70px; margin-right:-280px; font-size: 17pt;">Created On: {{apevent.eventstart | date : format : MM/dd/yyyy}}</div>
                <div style="margin-top: 20px; margin-right: 400px;">{{apevent.eventcontent}}</div>
            </div>	
		</h3>


	</div>
    
	
	<footer>
		<p>Entrepreneurship Empowerment, Michael H. Morris</p>
	</footer>
</body>
</html>

<script src="js/app.js"></script>
<script src="js/factories/userDataFactory.js"></script>
<script src="js/controllers/userDataController.js"></script>
<script src="js/factories/announcementFactory.js"></script>
<script src="js/controllers/announcementController.js"></script>
<script src="js/factories/eventFactory.js"></script>
<script src="js/controllers/eventController.js"></script>